@{
    ViewData["Title"] = "Data Tables";
    Layout = "_Layout";
}

<div class="row p-0 m-0 pt-3" id="data-table-section">
    <table id="user-details-table" class="display compact" style="width:100%">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Password</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
    </table>
</div>
